<div class="container">
  
  <div class="d-flex mb-3">
    <button *ngIf="listContactos.length > 0" type="button" (click)="ocultar()" class="mt-2 btn btn-primary btn-sm"><i class="bi {{accionIcon}} me-2"></i>{{accion}} numeros</button>

    <div class="btn-group">
      <button type="button" class="ms-3 mt-2 btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-list-ol"></i> Ordenar
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="ordenarContactos('nombre', orden)">Nombre</a></li>
        <li><a class="dropdown-item" (click)="ordenarContactos('apellido', orden)">Apellido</a></li>
        <li><a class="dropdown-item">Más reciente</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="ms-3 mt-2 btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-filter"></i> Forma
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="ordenarContactos(ordenarBy, true)">Ascendente</a></li>
        <li><a class="dropdown-item" (click)="ordenarContactos(ordenarBy, false)">Descendiente</a></li>
      </ul>
    </div>
  </div>


    <div class="col-sm-4 d-inline-flex">
      <input type="text" [(ngModel)]="busqueda" (input)="buscar()" class="form-control d-inline-flex" placeholder="Buscar">
    </div>
  

  <div class="row text-center">
    <h2 *ngIf="listContactos.length === 0" class="mt-3 text-secondary">¡Ups! No se han encontrado contactos, comienza <a routerLink="/nuevo">creando uno nuevo.</a></h2>
    <!-- Team item -->
    <div *ngFor="let contacto of contactosMostrados" class="mt-3 col-xl-3 col-sm-6 mb-2 contacto-cards">
      <div class="bg-white border rounded shadow py-3 px-4 contacto-card">
        <img
          src="{{contacto.imagen}}"
          alt="Imagen de {{contacto.nombre}}"
          width="100"
          height="100"
          class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
        />
        <h5 class="mb-0">{{contacto.nombre}} {{contacto.apellido}}</h5>
        <span class="small text-muted">{{contacto.correo}}</span>
        <p *ngIf="this.oculto" class="small text-muted"><i class="bi bi-telephone-fill"></i> {{ numeroOculto(contacto.numero) }}</p>
        <p *ngIf="!this.oculto" class="small text-muted"><i class="bi bi-telephone-fill"></i> +54 {{contacto.numero }}</p>
        <ul class="social mb-0 list-inline mt-3">
          <li *ngIf="contacto.github !== ''" class="list-inline-item">
            <a href="https://www.twitter.com/{{contacto.github}}" class="social-link"><i class="bi bi-github"></i></a>
          </li>
          <li *ngIf="contacto.linkedin !== ''" class="list-inline-item">
            <a href="https://www.twitter.com/{{contacto.linkedin}}" class="social-link"><i class="bi bi-linkedin"></i></a>
          </li>
          <li *ngIf="contacto.twitter !== ''" class="list-inline-item">
            <a href="https://www.twitter.com/{{contacto.twitter}}" class="social-link"><i class="bi bi-twitter"></i></a>
          </li>
          <li *ngIf="contacto.instagram !== ''" class="list-inline-item">
            <a href="https://www.twitter.com/{{contacto.instagram}}" class="social-link"><i class="bi bi-instagram"></i></a>
          </li>
        </ul>
        <ul class="mb-0 list-inline mt-3">
          <li class="list-inline-item">
            <a href="#" [routerLink]="['/editar', contacto.id]" class="social-link"><i class="text-secondary bi bi-pencil-fill"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" (click)="eliminarContacto(contacto.id)" routerLink="/" class="social-link"><i class="text-secondary bi bi-person-x-fill"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End -->
  </div>
</div>
