<div class="container">
  <div class="row text-center">
    <h2 *ngIf="listContactos.length === 0" class="mt-3 text-secondary">¡Ups! No se han encontrado contactos, comienza <a routerLink="/nuevo">creando uno nuevo.</a></h2>
    <!-- Team item -->
    <div *ngFor="let contacto of listContactos" class="mt-5 col-xl-3 col-sm-6 mb-5 contacto-cards">
      <div class="bg-white border rounded shadow py-5 px-4 contacto-card">
        <img
          src="https://appvital.com/images/profile/file-uploader-api-profile-avatar-2.jpg"
          alt=""
          width="100"
          class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
        />
        <h5 class="mb-0">{{contacto.nombre}} {{contacto.apellido}}</h5>
        <span class="small text-muted">{{contacto.nombre.toLowerCase()}}{{contacto.apellido.toLowerCase()}}@mail.com</span>
        <p class="small text-muted"><i class="bi bi-telephone-fill"></i> +54 {{contacto.numero}}</p>
        <ul class="social mb-0 list-inline mt-3">
          <li *ngIf="contacto.github !== ''" class="list-inline-item">
            <a href="https://www.twitter.com/{{contacto.github}}" class="social-link"><i class="bi bi-github"></i></a>
          </li>
          <li *ngIf="contacto.linkedin !== ''" class="list-inline-item">
            <a href="https://www.twitter.com/{{contacto.linkedin}}" class="social-link"><i class="bi bi-linkedin"></i></a>
          </li>
          <li *ngIf="contacto.twitter !== ''" class="list-inline-item">
            <a href="https://www.twitter.com/{{contacto.twitter}}" class="social-link"><i class="bi bi-twitter"></i></a>
          </li>
          <li *ngIf="contacto.instagram !== ''" class="list-inline-item">
            <a href="https://www.twitter.com/{{contacto.instagram}}" class="social-link"><i class="bi bi-instagram"></i></a>
          </li>
        </ul>
        <ul class="mb-0 list-inline mt-3">
          <li class="list-inline-item">
            <a href="#" [routerLink]="['/editar', contacto.id]" class="social-link"><i class="text-secondary bi bi-pencil-fill"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" (click)="eliminarContacto(contacto.id)" routerLink="/" class="social-link"><i class="text-secondary bi bi-person-x-fill"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End -->
  </div>
</div>
